body {
  background-color: var(--chakra-colors-background);
}

.root {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
}

::-moz-selection {
  color: var(--chakra-colors-text-primary);
  background: var(--chakra-colors-secondary);
}

::selection {
  color: var(--chakra-colors-text-primary);
  background: var(--chakra-colors-secondary);
}
